html{
    scroll-behavior: smooth;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
header {
    background-color: rgb(18, 18, 97);
}
.hText{
    font-size: 20px;
}
.mt-1{
    font-size: 60px;
    color: #f7f2e2;
}

h4{
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
}

#services{
    background-color: rgb(86, 93, 93);
    border-top: 5px solid rgb(255, 180, 4);
    border-bottom: 5px solid rgb(255, 180, 4);
}

#navbarNav{
    font-size: 30px;
    padding-top: 20px;
}

header h1{
    color: rgb(252, 252, 252);
    
}
body {
    background-attachment: fixed;
    background-image: url(smcc/smcc-logo.png);
    background-size: contain;
    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(18, 18, 97);
    text-align: center;
}
        
#ncolor {
    background-color: #005081; 
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #f7f2e2; 
}

.navbar-nav .nav-link {
    font-size: 18px;
    font-weight: bold;
}

#about{
    text-align: center;
}
.box-style {
    border: 5px solid rgb(255, 180, 4);
    padding: 30px;
    border-radius: 50px;
    background-color: rgb(231, 239, 147);
    box-shadow: 0 4px 20px;
    margin-top: 20px;
    text-align: left;
    color: black;
    font-weight: bold;
    border-style: ridge;
}
.box{
    border: 5px solid rgb(255, 180, 4);
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(231, 239, 147);
    width:400px;
    box-shadow: 0 4px 20px;
    margin-top: 20px;
    text-align: left;
    color: black;
    font-weight: bold;
    border-style: ridge;
}

.box-s{
    border-top: 5px solid rgb(246, 189, 3);
    border-right: 5px solid rgb(246, 189, 3);
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(86, 93, 93);
    width:400px;
    height: 400px;
    box-shadow: 0 4px 20px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: left;
    color: black;
    font-weight: bold;

}
#courses{
    background-color: #005081;
    padding-top: 20px;
    padding-bottom: 70px;

}


.box-button{
    font-weight: bold;
    border-radius: 10px;
    border-style: ridge;
}

#contact{
    background-color: rgb(246, 189, 3);
    border: 5px solid rgb(18, 18, 97);
    border-style: dotted;
    
}
.footer{
    background-color: rgb(18, 18, 97);
    border: 5px solid rgb(246, 189, 3);
    color: white;
    padding-top: 20px;
    border-style:double;
}
.container{
    display: flex;
    justify-content: space-around;

}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}



@media only screen and (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1 {
        font-size: 20px;
    }
    .box-style {
        width: 100%;
    }
}
