h1 {
    text-decoration-line: underline;
    text-decoration-color: rgb(18, 18, 97);
    font-weight: bold;
    text-align: center;
}
header {
    background-color: rgb(18, 18, 97);
    box-shadow: 0 0 30px;
    padding-bottom: 0px;
    color:rgb(18, 18, 97);
    text-align: center;
    border-top: 10cap;
}
nav {
    text-align: center;
    background-color: rgb(17, 17, 61);
    box-shadow: 0 0 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    scroll-behavior: smooth;
}
nav a {
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
}
body {
    background-attachment: fixed;
    background-image: url(smcc/smcc-logo.png);
    background-size: contain;
    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(18, 18, 97);
    text-align: center;
}
h2 {
    text-align: center;
    color: yellow;
    padding-top: 10px; 
    padding-bottom: 10px;
    border-radius: 10cap;
    background-color: rgb(18, 18, 97);
}
figure {
    text-align: center;

}
img {
    max-width: 100%;
    height: auto;
    text-align: center;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 10px;
    box-shadow: 0 0 3cap;
    border-radius: 10cap;
}
h3 {

    color:black;
    text-align: center;
    background-color: white;
    text-align: center;
    border-radius: 5cap;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}
figcaption {
    background-color: rgb(18, 18, 97);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10cap;
    color: white;
}
p{
    background-color: rgb(18, 18, 97);
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    border-radius: 50px;
}
footer {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    
    
}
#courses{
    color: yellow;
}
#about {
    color: black;
}
#contact {
    background-color: gray;
}